body {
    background-color: #D6D6D6;
}

main {
    background-color: #FFFF;
    width: 80vw;
    height: fit-content;
    display: block;
    margin: 4rem auto;
    padding-bottom: 4rem;
}

link {
    color: black;
    font-style: none;
    text-decoration: none;
}

hr {
    background-color: #000000;
}

.tittleLista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    padding: 4rem 5rem 1rem 5rem;
}

.tittle {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 4rem 5rem 1rem 5rem;
}

.tittleLista h1,
.tittle h1 {
    font-weight: 300;
}

.tittleLista h2,
.tittle h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0.5rem 0.5rem;
}

.tittleP {
    display: flex;
    padding: 2rem 5rem 0 5rem;
    justify-content: space-between;
    align-items: center;
}

.tittleP h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0.5rem 0.5rem;
}

.hr {
    padding: 0 5rem 1rem 5rem;
}

#searchContainer {
    text-align: center;
    margin: 1rem 0;
}
  
  #searchInput {
    border-radius: 20px;
    width: 300px; 
    height: 40px;
    padding: 10px; 
    font-size: 16px; 
  }
  
  #searchButton {
    border-radius: 20px;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    width: 3vw;
    height: 40px;
  }
  
  #searchButton:hover {
    opacity: 0.7;
  }

  #pesquisaMaluca {
    display: flex;
    justify-content: space-between;
  }